/* RESETING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
html {
    font-size: 62.5%;
}

body {
    background-color: #000;
    text-align: center;
    font-family: 'Impact', sans-serif;
}

html, body {
    overflow: hidden;
}

body::after {
    position: fixed;
    content: "";
    top: -100vh;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-155deg, #000 30%,transparent);
    z-index: 100;
}

ul {
    list-style: none;
}

/* FADE OUT */
body.fade-out::after {
    animation: fadeOut 1s linear forwards;
}

/* FADE IN */
body.fade-in {
    animation: fadeIn 1s linear forwards;
}

/* MODAL */
.modal-bg {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modal-bg:not(.active) {
    display: none;
}

.modal-bg .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 5px;
    height: auto;
    width: 600px;
    max-width: 90%;
}

.modal-bg.active .modal {
    animation: 0.5s popIn ease-out forwards;
}

@keyframes fadeIn {
    0% {
        filter: blur(20px) brightness(0);
    }
    100% {
        filter: blur(0) brightness(1);
    }   
}

@keyframes fadeOut {
    0% {
        top: -100vh;
        right: -100vw;
        height: 100vh;
        width: 100vw;
    }
    100% {
        top: 0;
        right: 0;
        height: 200vh;
        width: 200vw;
    }   
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: translate(-50%,-50%) translateY(30px);
    }
    to {
        opacity: 1;
        transform: translate(-50%,-50%) translateY(0);
    }
}