/* FADEOUT */
/*
#fader {
    position: fixed;
    top: -100%;
    right: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #000 30%,transparent);
    z-index: 300;
    transition: all 1000ms;
}

/*
body.fade-out #fader {
    top: 0;
    right: 0;
    height: 100%;
    width: 200%;
}*/

.main-wrap {
    padding-top: 5rem;
}

/* LOGO */
.logo-container {
    background: white;
    position: relative;
    width: 300px;
    height: 75px;
    overflow: hidden;
    margin: 0 auto;
}

.main-logo {
    position: relative;
    z-index: 3;
}

.logo-container .safe-cache {
    border: 10px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    height: 90%;
    width: 95%;
    transform: translate(-50%, -50%);
}

/* LOGO DECORATION - MIST */
.mist {
    position: absolute;
    width: 150%;
    top: -240%;
}

#mist-a {
    left: 20%;
    transform: rotateZ(45deg);
    animation: mistA 60s ease-in-out infinite;
}

#mist-b {
    right: 0;
    transform: rotateZ(0);
    animation: mistB 120s ease-in-out infinite;
}

#mist-scroll {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/mistscroll.png);
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
    animation: scroll 160s ease-in-out infinite;
}

/* MAIN NAVIGATION */
.main-navigation {
    margin-top: 5rem;
}

.main-navigation li:not(:last-child) {
    margin-bottom: 2rem;
}

.main-navigation a {
    font: inherit;
    color: #fff;
    font-size: 3.2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
}

.main-navigation a:hover {
    text-shadow: 0 0 10px #fff;
}

/*-------------------------- KEYFRAMES --------------------------*/
@keyframes mistA {
    0% {
        left: 20%;
        transform: rotateZ(45deg) scale(1);
        opacity: 0.8;
    }
    50% {
        left: -70%;
        transform: rotateZ(225deg) scale(1.5);
        opacity: 0.5;
    }
    100% {
        left: 20%;
        transform: rotateZ(405deg) scale(1);
        opacity: 0.8;
    }
}

@keyframes mistB {
    0% {
        right: 20%;
        transform: rotateZ(45deg) scale(1);
        opacity: 0.5;
    }
    50% {
        right: -70%;
        transform: rotateZ(-135deg) scale(1.5);
        opacity: 0.8;
    }
    100% {
        right: 20%;
        transform: rotateZ(-315deg) scale(1);
        opacity: 0.5;
    }
}

@keyframes scroll {
    0% {
        background-position-y: 0;
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
        background-position-y: 300%;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        background-position-y: 0;
        opacity: 0.;
    }
}