.table-points {
    margin:  5rem auto 0;
    padding-left: 15px;
}

.table-points thead th {
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    padding-bottom: 2rem;
}

.table-points td {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

.table-points tr td:nth-of-type(1){
    text-align: right;
}


.table-points tr td:nth-of-type(5){
    text-align: left;
}

/* INPUT CHECKBOX */
.table-points input[type="checkbox"] {
    position: relative;
    appearance: none;
    display: block;
    background-color: #fff;
    height: 16px;
    width: 16px;
    overflow: hidden;
    cursor: pointer;
}

.table-points input[type="checkbox"]:not(.square) {
    border-radius: 50%;
}

input[type="checkbox"]::after,
input[type="checkbox"].square::before {
    content: "";
    position: absolute;
    background: #000;
    height: 10px;
    width: 10px;
    top: 50%;
    left: 50%;
    transition: all 0.5s;
}

.table-points input[type="checkbox"]:not(.square)::after {
    transform: translate(-50%, -50%) scaleY(0);
    border-radius: 50%;
}

input[type="checkbox"]:not(.square):checked::after {
    transform: translate(-50%, -50%) scaleY(1);
}

/* INPUT SQUARE */
.table-points input[type="checkbox"].square::after,
.table-points input[type="checkbox"].square::before {
    height: 0;
    width: 14px;
}

.table-points input[type="checkbox"].square::after {
    transform: translate(-50%, -50%) rotateZ(-45deg);
}


.table-points input[type="checkbox"].square::before {
    transform: translate(-50%, -50%) rotateZ(45deg);
}

.table-points input[type="checkbox"].square:checked::after,
.table-points input[type="checkbox"].square:checked::before {
    height: 4px;
}

/* INPUT ADRE */
.table-points input[data-adre] {
    transition: 0.3s all;
}

.table-points input[data-adre].close {
    height: 0;
}