.table-points {
    margin:  5rem auto 0;
    padding-left: 15px;
}

.table-points thead th {
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    padding-bottom: 2rem;
}

.table-points td {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    padding: 2px;
}

.table-points tr td:nth-of-type(1){
    padding-right: 1rem;
    text-align: right;
}


.table-points tr td:nth-of-type(5){
    padding-left: 1rem;
    text-align: left;
}

.table-points tr td:nth-of-type(6){
    padding-left: 1rem;
}

/* INPUT CHECKBOX */
.table-points input[type="checkbox"] {
    position: relative;
    appearance: none;
    display: block;
    background-color: #fff;
    height: 16px;
    width: 16px;
    overflow: hidden;
    pointer-events: none;
    cursor: pointer;
}

.table-points input[type="checkbox"]:not(.square) {
    border-radius: 50%;
}

input[type="checkbox"]::after,
input[type="checkbox"].square::before {
    content: "";
    position: absolute;
    background: #000;
    height: 10px;
    width: 10px;
    top: 50%;
    left: 50%;
    transition: all 0.5s;
}

.table-points input[type="checkbox"]:not(.square)::after {
    transform: translate(-50%, -50%) scaleY(0);
    border-radius: 50%;
}

input[type="checkbox"]:not(.square):checked::after {
    transform: translate(-50%, -50%) scaleY(1);
}

/* INPUT SQUARE */
.table-points input[type="checkbox"].square::after,
.table-points input[type="checkbox"].square::before {
    height: 0;
    width: 14px;
}

.table-points input[type="checkbox"].square::after {
    transform: translate(-50%, -50%) rotateZ(-45deg);
}


.table-points input[type="checkbox"].square::before {
    transform: translate(-50%, -50%) rotateZ(45deg);
}

.table-points input[type="checkbox"].square:checked::after,
.table-points input[type="checkbox"].square:checked::before {
    height: 4px;
}

/* INPUT ADRE */
.table-points input[data-adre] {
    transition: 0.3s all;
}

.table-points input[data-adre].close {
    height: 0;
}

/* CTA */
.btn-play {
    display: block;
    margin: 2rem auto;
    appearance: none;
    background-color: #000;
    padding: 15px 50px;
    border: 2px solid #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Impact;
    font-size: 2.4rem;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s;
}

.btn-play:not(:disabled):hover {
    background-color: #fff;
    color: #000;
}

.btn-play:disabled {
    opacity: 0.2;
    pointer-events: none;
}

#btn-adrenaline:hover {
    background-color: #000;
    border-color: red;
    color: red;
}

/* MODAL - DMG CONTROL*/
/* FOR SLIDE
#phy-dmg {
    width: 80px;
    height: 120px;
}

#phy-dmg .splide__slide {
    font-size: 4rem;
    color: #fff;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#dmg-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#dmg-control .input-container {
    display: flex;
    gap: 30px;
}

#dmg-control .input-element {
    display: flex;
    flex-direction: column;
    width: 90px;
}

#dmg-control .input-element label {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 0;
}

#dmg-control .input-element input {
    font-size: 3rem;
    padding: 1rem;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

#dmg-ctas {
    gap: 15px;
    margin-top: auto;
}

#dmg-ctas .btn-play {
    margin: 0;
    padding: 10px 30px;
    font-size: 2rem;
}

.dmg-roll {
    appearance: none;
    background: transparent;
    display: flex;
    height: 0px;
    width: 100%;
    border-style: solid;
    border-width: 35px 45px;
    border-color: transparent transparent #fff transparent;
}

.dmg-roll.roll-down {

    border-color: #fff transparent transparent transparent;
}